.sidebarFriends { grid-area: sidebar; }

.sidebarFriends {
    background-color: teal;
    padding: 20px 5%;
}

.friendsBlock {
    display: flex;
}

.photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.name {
    margin-top: 10px;
    margin-left: 5px;
}