.mainBlock {
    display: flex;
    min-width: 80%;
}

.sidebarBlock {
    flex: 2!important;
    min-width: 100px;
}

.dialogsContainer {
    padding: 20px 50px;
    /* flex: 5; */
}

@media screen and (max-width: 900px) {
    .dialogsContainer {
        width: 500px;
    }
}